NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_URL=/dashboard

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NEXT_PUBLIC_CLOUDINARY_SECURE_DISTRIBUTION=

MONGODB_URI=

NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_STORE_URL=http://localhost:3000

NEXT_PUBLIC_STRIPE_TEST_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_TEST_SECRET_KEY=
NEXT_PUBLIC_STRIPE_LIVE_PUBLISHABLE_KEY=

STRIPE_LIVE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=